<nav>
    <div class="flex">
        <img src="logovemo.svg">
        <a href="">Inicio</a><a href="">Mapa</a><a href="">Favoritos</a>
    </div>

</nav>

<style>
    nav {
        width: 100vw;
        height: 10vh;
        background-color: none;
        border-bottom: 1px solid rgba(27, 31, 35, 0.15);
        justify-content: center;
        align-items: center;
        place-items: center;
        margin: 0;
        padding: 0;
    }

    img {
        width: 120px;
    }

    .flex {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: center;
        place-items: center;
        width: fit-content;
        height: 10vh;
    }
</style>