/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 1.5; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  
}

:root {
  --neutral-white: #FFFFFF;
  --neutral-lightest: #EEEEEE;
  --neutral-lighter: #CCCCCC;
  --neutral-light: #AAAAAA;
  --neutral: #666666;
  --neutral-dark: #444444;
  --neutral-darker: #222222;
  --neutral-darkest: #000000;
}

:root {
  --white-5: rgba(255, 255, 255, 0.05);
  --white-10: rgba(255, 255, 255, 0.10);
  --white-15: rgba(255, 255, 255, 0.15);
  --white-20: rgba(255, 255, 255, 0.20);
  --white-30: rgba(255, 255, 255, 0.30);
  --white-40: rgba(255, 255, 255, 0.40);
  --white-50: rgba(255, 255, 255, 0.50);
  --white-60: rgba(255, 255, 255, 0.60);

  
  --neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --neutral-darkest-10: rgba(0, 0, 0, 0.10);
  --neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --neutral-darkest-20: rgba(0, 0, 0, 0.20);
  --neutral-darkest-30: rgba(0, 0, 0, 0.30);
  --neutral-darkest-40: rgba(0, 0, 0, 0.40);
  --neutral-darkest-50: rgba(0, 0, 0, 0.50);
  --neutral-darkest-60: rgba(0, 0, 0, 0.60);
}





h1 { font-size: 56px; line-height: 1.2; font-weight: 700; margin-bottom: 0.5em; }
h2 { font-size: 48px; line-height: 1.2; font-weight: 600; margin-bottom: 0.5em; }
h3 { font-size: 32px; line-height: 1.2; font-weight: 600; margin-bottom: 0.5em; }
h4 { font-size: 24px; line-height: 1.4; font-weight: 500; margin-bottom: 0.5em; }
h5 { font-size: 20px; line-height: 1.4; font-weight: 500; margin-bottom: 0.5em; }
h6 { font-size: 16px; line-height: 1.5; font-weight: 500; margin-bottom: 0.5em; }

.tagline {
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

a, .link {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

a:hover {
    
    text-decoration: underline;
}

.text-large { font-size: 20px; line-height: 1.5; }
.text-medium { font-size: 18px; line-height: 1.5; }
.text-small { font-size: 12px; line-height: 1.5; }

.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }


.input-group {
 position: relative;
}

.input {
 border: solid 1.5px var(--neutral-darkest-40);
 border-radius: 10px;
 height:fit-content;
 background: none;
 padding: 11px 16px 11px 16px;
 margin: 0;
 color:var(--neutral-darkest);
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 width: 90%;
}

.user-label {
 position: absolute;
 left: 15px;
 top: -5px;

 color: var(--neutral-darkest-40);
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
 outline: none;
 border: 1.5px solid #2196f3;
 background-color: transparent;
}

.input:focus ~ label, input:valid ~ label {
 transform: translateY(-50%) scale(0.8);
 background-color: var( --neutral-white);
 padding: 0 .2em;
 color: #2196f3;
}

button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;

  list-style: none;
  padding: 10px 18px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

